---
import type { GetStaticPaths } from "astro";
import BackToTop from "../components/control/BackToTop.astro";
import Footer from "../components/Footer.astro";
import HomeHero from "../components/HomeHero.astro";
import Pagination from "../components/control/Pagination.astro";
import PostPage from "../components/PostPage.astro";
import { PAGE_SIZE } from "../constants/constants";
import Layout from "../layouts/Layout.astro";
import MainGridLayout from "../layouts/MainGridLayout.astro";
import { getSortedBlogPosts } from "../utils/content-utils";

export const getStaticPaths = (async ({ paginate }) => {
	const allBlogPosts = await getSortedBlogPosts();
	return paginate(allBlogPosts, { pageSize: PAGE_SIZE });
}) satisfies GetStaticPaths;
// https://github.com/withastro/astro/issues/6507#issuecomment-1489916992

const { page } = Astro.props;

const isFirstPage = page.currentPage === 1;
const len = page.data.length;
---

{isFirstPage ? (
	<Layout>
		<div class="home-page min-h-screen">
			<HomeHero />
				<div class="home-hero-bridge" aria-hidden="true"></div>

			<main>
				<div id="content-wrapper" class="home-content onload-animation mx-auto w-full max-w-[var(--page-width)] px-4 pb-16 pt-10 md:px-6 md:pt-14">
					<PostPage page={page} variant="home" />
					{len > 0 && (
						<Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${len * 50}ms)`} />
					)}
					<Footer />
				</div>
			</main>

			<BackToTop />
		</div>
		<script>
			let cleanupHomeNavbar: (() => void) | undefined;

			function initHomeNavbar() {
				cleanupHomeNavbar?.();
				const navbar = document.querySelector(".home-navbar");
				if (!(navbar instanceof HTMLElement)) return;

				const updateHomeNavbar = () => {
					navbar.classList.toggle("home-navbar-scrolled", window.scrollY > window.innerHeight * 0.72);
				};

				updateHomeNavbar();
				window.addEventListener("scroll", updateHomeNavbar, { passive: true });
				window.addEventListener("resize", updateHomeNavbar);
				cleanupHomeNavbar = () => {
					window.removeEventListener("scroll", updateHomeNavbar);
					window.removeEventListener("resize", updateHomeNavbar);
				};
			}

			initHomeNavbar();
			document.addEventListener("astro:page-load", initHomeNavbar);
			if (window.swup?.hooks) {
				window.swup.hooks.on("page:view", initHomeNavbar);
			} else {
				document.addEventListener("swup:enable", () => window.swup?.hooks?.on("page:view", initHomeNavbar));
			}
		</script>
	</Layout>
) : (
	<MainGridLayout>
		<PostPage page={page}></PostPage>
		<Pagination class="mx-auto onload-animation" page={page} style={`animation-delay: calc(var(--content-delay) + ${page.data.length * 50}ms)`}></Pagination>
	</MainGridLayout>
)}
